<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarck</title>
</head>
<body>
    <style> body {background-color: gray;} img{border-radius: 100%};</style>
    <a href="/">Inicio</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/bernes-lee">Tim Berners-Lee</a>
    <a href="/clarke">Joan Clarck</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/lovelace">Ada lovelace</a>
    <h1>Joan Clarke</h1>
    <img height="500", width="500" src="/img/joan-clarke.jpg" alt="Joan Clarke">
    <p>Joan Elisabeth Lowther Clarke (Londres, 24 de junio de 1917 – Oxford, 4 de septiembre de 1996) fue una criptoanalista y numismática británica que trabajó en Bletchley Park durante la Segunda Guerra Mundial.
        Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946</p>
</body>
</html>