<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
   <style> body {background-color: gray;} img{border-radius: 100%};</style>
    <h1>Home</h1>
    <a href="/babbage"> <img height="300", width="300", src="/img/CharlesBabbage.jpg" alt="Charles Babbage"></a>
    <a href="/bernes-lee"> <img height="300", width="300", src="/img/berners-lee.jpg"alt="Tim Berners-Lee"></a>
    <a href="/clarke"><img height="300", width="300" src="/img/joan-clarke.jpg" alt="Joan Clarke"></a>
    <a href="/hamilton"><img height="300", width="300" src="/img/hamilton.jpg" alt="Margaret Hamilton"></a>
    <a href="/hopper"><img height="300", width="300" src="/img/hopper.jpg" alt="Grace Hopper"></a>
    <a href="/lovelace"><img height="300", width="300" src="/img/lovelace.jpg" alt="Ada Lovelace"></a>
    <a href="/turing"><img height="300", width="300" src="/img/turing.jpg" alt="Alan Turing"></a>
</body>
</html>