<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <style> body {background-color: gray;} img{border-radius: 100%};</style>
    <a href="/">Inicio</a>
    <a href="/babbage">Charles Babbage</a>
    <a href="/bernes-lee">Tim Berners-Lee</a>
    <a href="/clarke">Joan Clarke</a>
    <a href="/hamilton">Margaret Hamilton</a>
    <a href="/hopper">Grace Hopper</a>
    <a href="/lovelace">Ada Lovelace</a>
    <h1>Ada lovelace</h1>
    <img height="500", width="500" src="img/lovelace.jpg" alt="Ada Lovelace">
    <p>Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd, 27 de noviembre de 1852) conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica. Entre sus notas sobre la máquina, se encuentra lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.</p>
</body>
</html>